div{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0.8;
    background-color: black;
    app-child{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 3vh;
    }
}